{{define "base"}}
<html>
  <head>
    <meta charset="utf-8">
    <link href="asset/css/bootstrap.min.css" rel="stylesheet">
    <title>イベントpt計算機</title>
  </head>
  <body>
    <div class="container">
      <h3 class="text-muted">イベントpt計算機</h3>
			<div class="row">
        <div class="col-lg-6">
          <h2>設定</h2>
          <form class="form-horizontal" method="post" action="/">
            <div class="form-group">
              <label for="name" class="control-label col-xs-3">目標ポイント</label>
              <div class="col-xs-5">
                <input type="text" name="point" class="form-control input-sm">
              </div>
            </div>
            <label class="control-label col-xs-3">イベント倍率</label> 
            <div class="col-lg-9">
              <label class="radio-inline">
                <input type="radio" name="event" value="1" checked /> 1倍
              </label>
              <label class="radio-inline">
                <input type="radio" name="event" value="2" /> 2倍
              </label>
              <label class="radio-inline">
                <input type="radio" name="event" value="4" /> 4倍
              </label>
            </div>
            <label class="control-label col-xs-3">消費スタミナ</label>
            <div class="col-lg-9">
              <label class="radio-inline">
                <input type="radio" name="normal" value="1" checked /> 1倍
              </label>
              <label class="radio-inline">
                <input type="radio" name="normal" value="2" /> 2倍
              </label>
            </div>
            <div class="col-lg-9">
              <button type="submit" class="btn btn-default pull-right">計算</button>
            </div>
          </form>
        </div>
        <div class="col-lg-6">
          <p>検索条件</p>
          <div class="col-xs-4">イベント倍率: {{ .Event }}倍</div>
          <div class="col-xs-4">消費スタミナ: {{ .Normal }}倍</div>
          <div class="col-xs-4">目標ポイント: {{ .Point }}pt</div>
        </div>
        <div class="col-lg-6">
          <h2>結果</h2>
          <table class="table">
            <tr>
              <td align="center">総ポイント</td>
              <td align="center">{{ .Total_point  }}</td>
            </tr>
            <tr>
              <td align="center">総消費スタミナ</td>
              <td align="center">{{ .Total_stamina }}</td>
            </tr>
            <tr>
              <td align="center">通常楽曲プレイ曲数</td>
              <td align="center">{{ .Normal_times }}</td>
            </tr>
            <tr>
              <td align="center">イベント楽曲プレイ曲数</td>
              <td align="center">{{ .Event_times }}</td>
            </tr>
            <tr>
              <td align="center">総プレイ曲数</td>
              <td align="center">{{ .Total_play_time }}</td>
            </tr>
            <tr>
              <td align="center">総プレイ時間</td>
              <td align="center">{{ .Total_hour }}</td>
            </tr>
          </table>
        </div>
     </div>
    </div>
  </body>
</html>
{{end}}
